name: PixelOS_Kernel_CI-aston

on:
  workflow_dispatch:

env:
  CHATID: ${{ secrets.CHAT_ID }}
  API_BOT: ${{ secrets.BOT_API }}

jobs:
  Kernel_Build_CI:
    name: Kernel Build CI
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:

    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
        
    - name: Setting up Env!
      run: |
          sudo -E apt-get -qq update
          sudo -E apt-get -qq install git make bc bison \
          openssl curl zip kmod cpio flex libelf-dev \
          libssl-dev libtfm-dev wget device-tree-compiler \
          ca-certificates python3 binutils \
          binutils-aarch64-linux-gnu binutils-arm-linux-gnueabi

    - name: Clone Kernel and Dependencies
      run: |
        git clone https://github.com/avalon-stuffs/android_kernel_oneplus_sm8650 --depth=1 -b 16 kernel/oneplus/sm8650
        git clone https://github.com/avalon-stuffs/android_kernel_oneplus_sm8650-modules --depth=1 -b 16 kernel/oneplus/sm8650-modules
        git clone https://github.com/avalon-stuffs/android_kernel_oneplus_sm8650-devicetrees --depth=1 -b 16 kernel/oneplus/sm8650-devicetrees
    
    - name: Setup release name
      run: |
        rm -rf ${GITHUB_WORKSPACE}/*.zip
        cd kernel/oneplus/sm8650
        SUBLEVEL=$(grep "^SUBLEVEL =" Makefile | awk '{print $3}')
        REL_NAME="LineageOS_OPSM8650-v6.1.${SUBLEVEL}-$(date +"%Y%m%d")"
        echo "REL_NAME=${REL_NAME}" >> $GITHUB_ENV

    - name: Build Kernel with ksu
      run: |
        cd kernel/oneplus/sm8650
        curl https://raw.githubusercontent.com/KrishnaSRobot/actions_kernel_compiler/refs/heads/main/kernel.sh > kernel.sh
        chmod +x kernel.sh
        bash kernel.sh --clean
        cd -
      shell: bash
